[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for dot product of two matrix577 × 166
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwiMiI2538PmAhXT4zgGHeKQDj8QjRx6BAgBEAQ&url=http%3A%2F%2Fhyperphysics.phy-astr.gsu.edu%2Fhbase%2Fvsca.html&psig=AOvVaw2FhVUY2hHpw5Ak2zzCXc2H&ust=1576914773918708
Icon=text-html
